*{
    box-sizing: border-box;
}
main{
    background-color: #e6e6e6;
}
.col-img-img {
    height: 300px;
    padding: 50px 0;
    background-image : url(../img/checkout.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.col-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.col-content h2{
    color: white;
    position: absolute;
    z-index: 9;
    margin-top: 50;
    width: 100%;
}
.head-main i{
    font-size: 32px;
}
.input-group>.input-group-append>.add, .in{
     padding: 0 5 0 5; 
     background-color: #3d1a1a;
     color: white;
     border: hidden;
}