*{
    box-sizing: border-box;
}
.col-img3 {
    height: 400px;
    padding: 50px 0;
    background-image : url(../img/sp1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.col-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.col-content h2{
    color: white;
    position: absolute;
    z-index: 9;
    margin-top: 50;
    width: 100%;
}
.font-size{
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 200px;
}
.us{
    border: 1px solid;
    padding: 30px;
    font-size: 30px;
    color: white;
    background-color: #3a1a1a;
    cursor: pointer;
}
.sp-email a{
    font-weight: 900;
}
.hover:hover{
    cursor: pointer;
}
.col-email{
    margin: 100px 0 100px;
}
.city{
    font-size: 26px;
    font-weight: 800;
}