*{
    box-sizing: border-box;
}
header{
    background-color: #5B3236;
}
.form-inline .header-search{
    background: #3D1A1A;
    border-color: white;
    color: white;  
}
.men{
    height: 65% !important;
}
.btn:not(:disabled):not(.disabled){
    padding: 10px 15px !important;
}
.form-inline .header-search:hover{
    background-color: #3D1A1A;
    border-color: white;
}
.header-nav{
    margin: auto;
}
.add-span{
    color: white;
}
.header-col .nav-tabs{
    border-bottom:hidden;
}
.font{
    color: #3d1a1a;
}
.header-sdt i{
    background: #ffffff;
    color: #3d1a1a;
    width: 36px;
    border-radius: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
} 
.header-sdt span{
    color: white;
    margin: auto;
}
.header-row2{
    margin-top: 30px;
}
.owl-theme .owl-nav{
    display: none;
}
.owl-carousel.owl-drag .owl-item {
    width:0;
}
.btn:not(:disabled):not(.disabled) {
    padding: 10px;
}
.header-time{
    position: absolute;
}
.header-i{
    justify-content: end;
}
.main-owl{
    position: absolute;
}
.col-center{
    margin: 100 0 100 0;
}
.img{
    width: 100%;
}
.font{
    font-size: 24px;
}
.row-flex button{
    background-color: #3D1A1A;
    border-radius: 5px;
}
.row-flex i{
    color: white;
}
.row-flex p{
    background: #7eaa38;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.col-a {
    font-size: 26px;
    border: 1px solid;
    background:#3D1A1A;
    border-radius: 5px;
}
.col-a a{
    color: white;
}
.row-center{
    justify-content: center;
}
.row-col3{
    position: relative;
}
.row-col3 img{
    min-height: 400px;
}
.ob{
    position: absolute;
    width: 40%;
    top: 0px;
    border: hidden;
    color: white;
    background: red;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
del{
    color: black;
}
.discount{
    width: 60%;
    border: hidden;
    color: white;
    background:orangered;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.ob2{
    position: absolute;
    width: 40%;
    top: 0px;
    right: 15px;
    border: hidden;
    color: white;
    background: rgb(0, 255, 13);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.row-p img{
    height: 100%;
    object-fit: cover;
}
.MainData{
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 100%;
}
.label{
    color: white;
    margin-right: 55%;
}
#formDemo button{
    text-align: center;
    color: white;
    background-color:#3D1A1A;
    border-radius: 6px;
    padding: 10px;
}
textarea{
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
    width: 80%;
    margin-left: 10%;
}
input{
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px
}
#data{
    text-align: center;
    margin-top: 100;
}
.error{
    color: red;
    display: block;
}
.p3{
    color:white;
}
.data-box p{
    color: yellow;
    font-size: 30;
    margin-top: -50;
}
.col-b p{
    font-size: 30px;
    justify-content: center;
}
.navbar-toggler{
    display: none;
}
.col-b .font-size{
    font-size: 20px;
    color: #5B3236;
}
footer{
    background-color: #5B3236;
    color: white;
}
.fab{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding-top: 6px;
}
.fa-facebook-f{
    font-weight: 100;
    color: blue;
}
.fa-instagram{
    font-weight: 100;
    color: red;
}
.fa-twitter{
    font-weight: 100;
    color: #03AAEE;
}
.fa-google{
    color:#056AFD;
}
.col-hover p:hover{
    color: #7eaa38;
    cursor: pointer;
}
.footer-email{
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ffffff;
    outline: 0px;
    color: #ffffff;
}
.table{
    position: relative;
    display: table;
    border-collapse: separate;
}
.plane{
    height: 40px;
    width: 40px;
    line-height: 40px;
    padding: 0px;
    background: transparent;
    color: #ffffff;
    border: hidden;
    cursor: pointer;
}
.input-group-btn{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
.footer-foot{
    background-color: #3D1A1A;
    padding: 10px 0 10px 0;
}
.thumbnail {
    overflow: hidden;
    border: 1px solid #3D1A1A;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
    height: auto;
    transition-duration: 0.3s;
}

.thumbnail img:hover {
    transform: scale(1.1);
}
.bg-faded{
    margin-top: -10px;
}
@media (min-width: 768px)
and (max-width: 1024px){
    .header-row2 .header-col{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .navbar-toggler{
        display: block;
        text-align: end;
    }
    .main-col-dis{
        display: column!important;
    }
    .main-col-dis img{
        width: 50%;
    }
}
@media (min-width: 320px)
and (max-width: 480px){ 
    .header-row2 .header-col{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .navbar-toggler{
        display: block;
        text-align: end;
    }
    .main-col-dis{
        flex-direction: column!important;
    }
}